body {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	background-color: $primary-bg-color;
	margin: 0;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

/* main styles */

.main {
	max-width: 1110px;
	display: flex;
	flex-direction: row-reverse;
	margin: 0 auto;
	padding: 0px 15px;
}

.main-content {
	background-color: $mainContent-bg-color;
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
	padding: 105px 90px;
}
/* about styles */

.about {
	margin-bottom: 40px;
}

.about-position {
	@include font(null, 1.21);
	// font-size: 14px;
	// line-height: 1.21;
	color: $primary-color;
	margin-bottom: 20px;
}

.about-name {
	display: inline-block;
	@include font(45px, 1.21);
	// font-size: 45px;
	// line-height: 1.21;
	color: #121111;
	margin-bottom: 25px;
}

.about-discription {
	@include font(null, 1.21);
	// font-size: 14px;
	// line-height: 1.71;
	color: $secondary-color;
	max-width: 400px;
}

/* progect styles */

.projects {
	margin-bottom: 50px;
	min-width: 485px;
}

.title {
	@include font(22px, 1.23);
	// font-size: 22px;
	// line-height: 1.23;
	color: $primary-color;
	margin-bottom: 10px;
}

.projects-list {
	padding: 0;
	margin-left: 15px;
}

.project-item,
.project-bracket {
	@include font();
	// font-size: 14px;
	// line-height: 1.71;
	color: $primary-color;
}

.project,
.project-link {
	@include font();
	// font-size: 14px;
	// line-height: 1.71;
	color: $secondary-color;
}

.project-link {
	margin-left: 10px;
}

/* work styles*/

.work {
	margin-bottom: 45px;
	width: 530px;
}

.work-position {
	@include font(16px, 1.25);
	// font-size: 16px;
	// line-height: 1.25;
	color: $primary-color;
	margin-bottom: 10px;
}

.organization {
	@include font(16px, 1.25);
	// font-size: 16px;
	// line-height: 1.25;
	color: $accent-color;
}

.period {
	@include font(12px, 1.25);
	// font-size: 12px;
	// line-height: 1.25;
	color: #a8a8a8;
	margin-bottom: 10px;
}

.line {
	@include font(12px, 1.25);
	// font-size: 12px;
	// line-height: 1.25;
	color: $primary-color;
}

.work-list {
	padding: 0;
	margin-left: 15px;
}

.work-list-item {
	@include font();
	// font-size: 14px;
	// line-height: 1.71;
	color: $secondary-color;
}

/* education styles */

.education {
	margin-bottom: 95px;
	width: 330px;
}

.education-position {
	@include font(16px, 1.25);
	// font-size: 16px;
	// line-height: 1.25;
	color: $accent-color;
	margin-bottom: 10px;
}

.specialization {
	@include font(14px, 1.21);
	// font-size: 14px;
	// line-height: 1.21;
	color: var(--primary-color);
	margin-bottom: 10px;
}
