$primary-bg-color: #f5f7fa;
$sidebar-bg-color: #fb6d3a;
$primary-color: #000000;
$secondary-color: #595959;
$sidebar-color: #ffffff;
$accent-color: #058b41;
$mainContent-bg-color: rgb(200, 200, 246);
